html
    font-size: 625%
    height: 100%
body
    font-size:.16rem
    height: 100%
    background: #E4E6E9
    font-family: '微软雅黑'
*
    padding:0
    margin:0
    box-sizing: border-box
    &:focus
        outline: none
a
    text-decoration: none
input
    outline: none
    border:0
    vertical-align: top
li
    list-style: none
img
    border:none
.ellipsis
    overflow: hidden
    white-space:nowrap
    text-overflow: ellipsis
.f-r
    float:right
.f-l
    float:left
.main
    background: #fff
    margin:0 .28rem
    padding:0 .42rem .25rem
.clearfloat
    zoom: 1

.clearfloat::after
    display: block
    clear: both
    content: ""
    visibility: hidden
    height: 0
.isoffset
    margin-left:.55rem
.option
    padding:.11rem 0
    border-bottom:.01rem solid #a3aeb1
.btn
    border-radius:.06rem
    border:.01rem solid #42b2df
    height: .5rem
    line-height: .5rem
    padding:0 .55rem
    width: auto
    background: #fff
    font-size:.16rem
    cursor:pointer
    margin:.1rem 0
#app
    position: absolute
    top:0
    left:0
    height: 100%
    width:100%
    overflow: hidden
#home
    position: absolute
    top:0
    left:0
    height: 100%
    width:100%
    overflow: hidden
::-webkit-scrollbar
  background: transparent
  width: 1px
  height: 1px
::-webkit-input-placeholder
     font-size: 16px
     font-family : '微软雅黑'
.option
  button
    font-family : '微软雅黑'
.opt
  button
    font-family : '微软雅黑'

